<div class="w-100 vh-100 bg-dark p-5 text-white">
  <div class="container d-flex flex-column justify-content-between h-100">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <img class="logo" src="assets/icons/favicon.png" alt="logo">
        <span class="mx-2 h4 my-0">SCRAPE</span>
      </div>
      <div (click)="refresh()" class="d-flex align-items-center">
        <img class="refresh-logo" src="assets/icons/icon-refresh.png" alt="refresh-logo">
      </div>
    </div>
    <section class="pb-5">
      <form class="d-flex justify-content-between pb-5">
        <label class="flex-grow-1 mx-2">
          Season:
          <select class="form-control">
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
          </select>
        </label>
        <label class="flex-grow-1 mx-2">
          Competition:
          <select class="form-control">
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
          </select>
        </label>
        <label class="flex-grow-1 mx-2">
          Round:
          <select class="form-control">
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
          </select>
        </label>
      </form>
    </section>
    <div class="text-right">
      <button routerLink="/detail" class="btn btn-primary">Fetch Results</button>
    </div>
  </div>
</div>
